body{
    background: url(/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: #ed1c24;*/
    font-family: Roboto, Verdana, sans-serif;
}

#background-color{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #ed1c24;
    opacity: .7;
}

.center-text{
    width: 100%;
    text-align: center;
}

.form-control{
    margin: 20px 0px;
}

h1{
    font-size: 4em;
    color: white;
}

h5{
    color: red;
    font-weight: 600;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 44px;
    background: #fcfcfc;
    padding: 0px;
}

footer a{
    display: block;
    margin: auto;
}